@page "/"

<PageTitle>Home</PageTitle>

<main>

    <h1 class="my-5">About the website</h1>
    <div class="my-5">
        <p class="my-2">
            This is a student demo website designed to showcase the skills and techniques learned by the owner. As this website is part of an ongoing project in my personal profile, its content will evolve over time. You can expect to see new features and improvements as I continue to learn and grow.
        </p>

        <p class="my-2">This website is created entirely by me. There may be some  practices that I am unaware are suboptimal, so any advice or suggestions are welcome. I value feedback and will use it as an opportunity to learn and improve. Thank you to everyone who visits this website, I hope you have a wonderful day!&#128573;&#128573;</p>
    </div>

    <h5 class="my-5">Feel free to contact me via GitHub and LinkedIn:</h5>
    <div>
        <ul class="d-flex justify-content-around align-items-center my-5" style="list-style:none; ">
            <li>
                <img class="img-fluid" src="img/githubLogo.png" style="max-width:100%; max-height:100%" alt="GitHub Logo" />
            </li>
            <li>
                <a href="https://github.com/LUCKYINGGG">GitHub:LUCKYINGGG</a>
            </li>
        </ul>

        <ul class="d-flex justify-content-around align-items-center my-5" style="list-style:none; ">
            <li>
                <img class="img-fluid" src="img/githubLogo.png" style="max-width:100%; max-height:100%" alt="GitHub Logo" />
            </li>
            <li>
                <a href="https://github.com/LUCKYINGGG/PersonalPortfolio">Source code of this website</a>
            </li>
        </ul>

        <ul class="d-flex justify-content-around align-items-center my-5" style="list-style:none">
            <li>
                <img class="img-fluid" src="img/linkedInLogo.png" alt="LinkedIn Logo" />
            </li>
            <li>
                <a href="https://www.linkedin.com/in/ying-t-47230a25b/">LinkedIn:Ying (Sylvia) Tao</a>
            </li>
        </ul>
    </div>












</main>
