@page "/"

<PageTitle>Home</PageTitle>

<main>
    <h1 class="my-5">Clubs Management System</h1>

    <div class="my-5">
        <h3 class="my-3">Deliverable Description: </h3>
        @* Todo !!!
            A brief description (one or two paragraphs) of the Query and CRUD component's requirements in the project, identifying the name of the component and its purpose, along with any unique constraints or characteristics of the page's behaviour.
        *@
        <p>This is a student demo website designed to showcase the skills and techniques learned by the owner. The site is deployed using Azure Web App Service 
            and SQL Server, and it utilizes C#, Blazor, ASP.NET Core, Entity Framework, Bootstrap, and SQL. </p>
        <p>I have created two main components: Query and CRUD. The Query component handles search, filter, read and display functions, while the CRUD component manage 
            create, read, update and delete functions. These two components are accessible through the left-hand side navigation. You can click on them and will be 
            directed to their respective pages.</p>
        <p>Advice and suggestions are welcome - let's help each other improve.</p>
    </div>
    
    <h5 class="my-5">Feel free to contact me via GitHub and LinkedIn:</h5>
    <div>
        <ul class="d-flex justify-content-around align-items-center my-5" style="list-style:none; ">
            <li>
                <img class="img-fluid" src="img/githubLogo.png" style="max-width:100%; max-height:100%" alt="GitHub Logo" />
            </li>
            <li>
                <a href="https://github.com/LUCKYINGGG">GitHub:LUCKYINGGG</a>
            </li>
        </ul>
        
        <ul class="d-flex justify-content-around align-items-center my-5" style="list-style:none">
            <li>
                <img class="img-fluid" src="img/linkedInLogo.png" alt="LinkedIn Logo"/>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/ying-t-47230a25b/">LinkedIn:Ying (Sylvia) Tao</a>
            </li>
        </ul>
    </div>
    

    

    

    


   


</main>
