@page "/introduction"
<PageTitle>Introduction</PageTitle>
@rendermode InteractiveServer

<h1 class="my-5">Clubs Management System</h1>
<h3 class="my-5">Deliverable Description: </h3>

<div>
    <p>
        The site is deployed using Azure Web App Service
        and SQL Server, utilizing C#, Blazor, ASP.NET Core, Entity Framework, Bootstrap, and SQL. All data is simulated. As I am using student <s>free</s> Azure services with limited resources, there may be some occasional disruptions when loading the website. If you encounter any issues, please try refreshing the page or visiting the site again later, it should work.&#128513;
    </p>
    <p>
        So far, I have created two main components: Query and CRUD. The Query component handles search, filter, read and display functions, while the CRUD component manage
        create, read, update and delete functions. These two components are accessible through the left-hand side navigation. You can click on them and will be
        directed to their respective pages.
    </p>
    <p>I have not dedicated much time to the website's presentation yet, as my focus has been on implementing features first. I plan to gradually improve the UI/UX as the project progresses. </p>

</div>



@code {

}
