@page "/privacy"
<PageTitle>Privacy</PageTitle>
@rendermode InteractiveServer

<main>
    <h1 class="text-center my-5">Privacy and Disclaimer</h1>
    
    <div class="container container-fluid ">
        <div class="row">
            <div class="text-start">
                <P class="my-3">
                    This is a student demo website, created purely to showcase the student's skills and build a personal portfolio.
                    No commercial use is involved. If this website uses any content that belongs to you, please feel free to contact the website owner.
                </P>
            </div>

        </div>
    </div>

</main>

@code {

}
